*{
    margin: 0;
    padding: 0;
}

.contenu{
    display: flex;
    justify-content: space-around;

}
.container{
    margin: 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
input{
    width: 200px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.308);
}
.btn-add{
    background-color:rgb(155, 101, 0);
    color: white;
    font-size: 15px;
    border: 1px solid white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 155, 0);

}
.vertical-line {
    width: 5px; /* Largeur de la ligne */
    height: 100%; /* Hauteur de la ligne */
    background-color:  rgba(0, 155, 0, 0.582); /* Couleur de la ligne */
    position: absolute; /* Position absolue pour la placer correctement */
    left: 50%; /* Position horizontale au centre de la page */
    top: 0; /* Position verticale au sommet de la page */
    transform: translateX(-50%); /* Déplacement de 50% de la largeur vers la gauche pour centrer la ligne */
  }
  .classUl{
  
    margin-top: 200px; 
    ;
  
   
 
  }
  .edit{
    background-color: rgb(0, 155, 0);
    color: white;
    font-size: 15px;
    border: 1px solid white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
  }
  .delete{
    background-color: rgb(155, 101, 0);
    color: white;
    font-size: 15px;
    border: 1px solid white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
  }